
.RegistrationForm {
    border-radius: 1px solid black;
    position: fixed;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    top: 100px;
    right: 0;
    height: auto;
    background-color: white;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
}

[type=password], [type=username] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    margin-left:auto;
    margin-right:auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.register-button {
    background-color: #FA824C;
    border: none;
    padding: 10px;
    margin: auto;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px #777;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #FAFFFD;
}