
.Item {
    --note-height: 88px;
    background-color: #00264d;
    color: #cacaca;
    height: 70px;
    margin-bottom: 8px;
    max-width: 300px;
    padding: 8px 0 8px 8px;
    position: relative;
  }
  
  .Item_delete {
    color: #ff0000;
    position: absolute;
    bottom: 0;
    background-color:#00264d;
    border: 0;
    font-size: 15px;
  }

  .Item_delete:hover {
    background-color: #bd0909;
    color: white;
    cursor: pointer;
    font-weight: bold;
  }
  
  .Item_title {
    font-family: var(--custom-font);
    font-size: 20px;
    margin: 0;
    max-width: 80%;
    min-height: 24px;
  }
  .Item_title a {
    color: #cacaca;
    display: block;
    text-decoration: none;
  }
  .Item_title a:hover {
    color: #FFB72F;
  }

  .Item_edit {
    color: #00b300;
    float: right;
    position: absolute;
    background-color:#00264d;
    border: 0;
    font-size: 15px;
  }  