
.ItemListMain ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
  }
  
  .ItemListMain_button-container {
    max-width: 380px;
    margin: 0 10px;
  }
  
  .ItemListMain_add-item-button {
    margin: 0 120px 20px;
  }
  .ItemListMain_add-item-button:hover {
    background-color: #00264d;
    color: white;
  }
  