
.ItemListNav_list {
    list-style-type: none;
    margin: 130px 0 0;
    padding: 0;
  }
  
  .ItemListNav_button-wrapper {
    margin: 0 0 0 20px;
    max-width: 170px;
  }
  
  .ItemListNav_add-inventory-button {
    margin: 20px auto;
  }
  .ItemListNav_del-inventory-button {
    margin: 20px auto;
  }
  .ItemListNav_add-inventory-button:hover {
    background-color: #FFB72F;
    color: white;
  }
  .ItemListNav_del-inventory-button:hover {
    background-color: #ff0000;
    color: white;
  }
  
  .ItemListNav_inventory-link {
    background-color: #00264d;
    color: #b5b3b3;
    display: block;
    font-family: var(--custom-font);
    font-size: 20px;
    margin: 0 0 8px auto;
    max-width: 180px;
    padding: 8px 16px;
    text-decoration: none;
  }
  .ItemListNav_inventory-link:hover {
    color: #FFB72F;
    cursor: pointer;
  }
  .ItemListNav_inventory-link.active {
    background-color: #102541;
  }
  
  .ItemListNav_num-items {
    color: #adadad;
    display: block;
    float: right;
    font-size: 10px;
  }
  